hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: grey;
  height: 1px;
}

a {
  color: inherit !important;
}

/* Card */
.card-wrap {
  margin-top: 50px;
  width: 100%;
}

.width-control {
  max-width: 20%;
}

.rounded-circle {
  margin-top: -40px;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
