hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #1a8cff;
  height: 1px;
}

a {
  color: inherit;
  text-decoration: none !important;
}

/* Person Card */
.card-wrap {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.width-control {
  max-width: 20%;
}

.rounded-circle {
  margin-top: -40px;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.float-up {
  margin-top: -170px;
}

/* Project */
.proj-card {
  height: 300px !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
}

.proj-card:hover .proj-short {
  visibility: visible;
  opacity: 1;
}

div.tech-list {
  position: absolute;
  bottom: 0;
  right: 0;
}

.proj-short {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(26, 140, 255, 0.7);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

/* Nav Footer*/
.jumbotron {
  width: 100% !important;
  height: 150px;
  background-color: #1a8cff;
}

/* Footer */
div.footer {
  margin: 0px;
}

/*scrollToTopBtn*/

#upBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  background-color: #5daaf7;
  color: white;
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 50%;
}

#upBtn:hover {
  background-color: #1a8cff;
}

/*ProjectDetail */

div.row.justify-content-center div.col {
  text-align: center;
}

div.detail-row {
  text-align: center;
  margin-top: 10px;
}

.img-main {
  max-width: 100%;
}

/*ProjectFeatureList*/
.img-feature {
  width: 20px !important;
  height: auto;
}

.feature-hero {
  margin: 0px;
  padding: 0px;
  width: 100% !important;
  background-color: #1a8cff;
  color: white;
}

/*returnHomeBtn*/
#homeBtn {
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  background-color: #5daaf7;
  color: white;
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 50%;
}

#homeBtn:hover {
  background-color: #1a8cff;
}
