{% extends "myprojects/base.html" %}
{% block content %}
<div class="hero d-flex justify-content-center">
    <h1 class="h2 text-white py-5 text-wdith my-5">
        About
    </h1>
</div>
<div class="width-control set-height">
    <legend class="border-bottom my-3"></legend>
    <div>
        {{myinfo.about_page_description}}
    </div>
    
    <div class="row mt-5">
        <div class="col-sm">
            <i class="fa fa-envelope"><a  class="ml-2" href="mailto:{{myinfo.email}}">{{myinfo.email}}</a></i>
        </div>
        <div class="col-sm">
            <i class="fa fa-phone"><a  class="ml-2" href="tel:{{myinfo.phone_number}}">{{myinfo.phone_number}}</a></i>
        </div>
    </div>
    <legend class="border-bottom my-3"></legend>
</div>
{% endblock content %}