{% extends "myprojects/base.html" %}
{% block content %}
<div class="hero d-flex justify-content-center">
    <h1 class="h2 text-white py-5 text-wdith my-5">
        About
    </h1>
</div>
<div class="width-control set-height">
    <legend class="border-bottom my-2"></legend>
    <div class="h5">
        Hello! I am Jiaqi (Jacky) Wang from Irvine, CA. 
        I am currently a senior in Woodbridge High School. 
        I moved to the U.S. from China when I was in 8th grade. 
        During my free time, I love to code functional applications.
        I created this portfolio to log my progess.
    </div>
    
    <div class="row mt-5">
        <div class="col-sm">
            <i class="fa fa-envelope"><a  class="ml-2" href="mailto:jacky200218@gmail.com">jacky200218@gmail.com</a></i>
        </div>
        <div class="col-sm">
            <i class="fa fa-phone"><a  class="ml-2" href="tel:+1-949-351-0721">949-351-0721</a></i>
        </div>
    </div>
</div>
{% endblock content %}