@media (max-width: 600px) {
    img {
        width: 100% !important;
    }

    .width-control{
        width: 100% !important;
    }
}

.container-fluid{
    padding: 0;
 }

.hero{
    background-color:  #1a8cff;
    text-align: center;
    width: 100%;
}

.proj-hero{
    background-color:  #1a8cff;
    text-align: center;
    height: 250px;
}

.text-wdith{
    width: 60%;
}

.content-sec{
    width: 100%;
}

.p{
    display: block;
}

.row{
    margin: 0 auto;
}

.col-sm{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

.img-thumbnail{
    width: 270px;
}

.width-control{
    width: 90%;
    margin: 0 auto;
}

.img-detail{
    width: 550px;
}

.img-main{
    width: 600px;
}

.img-large{
    width: 85%;
}

.set-height{
    height: 60vh;
}

.list-unstyled{
    text-align: center;
}